<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Cabecera compuesto para agregar titulo a la vista y el nombre de un archivo de estilo css -->
<head th:fragment="head_compuesto(titulo, estilo)">

    <!--Para poner titulo con variable-->
    <title th:text="${titulo}"></title>

    <!--Para la compatibilidad con moviles y tablets-->
    <meta name="viewport" content="width=device-width , initial-scale=1, shrink-to-fit=no">

    <!-- Para poner el tipo de codificacion de texto -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--Para colocar un icono a la pestaña de la pagina -->
    <link rel="icon" type="img/png" th:href="@{/img/default.png}">

    <!-- Compatibilidad con paginas -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Para colocar estilos personalizados en css-->
    <link th:href="@{${estilo}}" rel="stylesheet">

    <!-- Librerias css de bootstrap en css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Libreria de fuentes en script para iconos -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>


</head>



<body>

</body>
</html>